<div style="max-width: 368px; margin: 0 auto">
  <mat-card style="display: flex; flex-wrap: wrap;">
    <mat-form-field style="width: 100%">
      <mat-label>State</mat-label>
      <mat-icon matPrefix>search</mat-icon>
      <input matInput #searchInput placeholder="emoji name">
    </mat-form-field>
    <ng-container *ngFor="let emoji of emojiData | search:searchInput.value">
      <div style="display: flex;"
           (mouseover)="emoji.show = true" (mouseleave)="emoji.show = false">
        <button mat-icon-button (click)="selectEmoji(emoji)" [class.hover-btn]="emoji['show']">
          <!--<span style="position: absolute; left: 0; top: 0; width: 100%">{{emoji.native}}</span>-->
          <div [class]="'img-' + emoji.unified.toLowerCase()"></div>
        </button>
        <app-skin-variations *ngIf="emoji['show']" [emoji]="emoji" (select)="selectEmoji($event)"></app-skin-variations>
      </div>
    </ng-container>
  </mat-card>
</div>
