.hover-btn {
  background: #e5e5e5;
}

.sticky {
  width: 100%;
  position: sticky;
  top: 0;
  background: #fff;
  z-index: 2;
  padding: 4px 8px;
  color: #333;
}

.emoji-mart-anchors {
  display: flex;
  flex: 1;
  padding: 0;
  border-bottom: 1px solid #eee;
  .emoji-mart-anchor {
    border-bottom: 2px solid transparent;
    padding: 4px 0;
    cursor: pointer;
    &:hover, &.active {
      border-bottom: 2px solid #039be5;
      background: #f3f3f3;
    }
  }
}
